* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: #f5f5f5;
  color: #3A3A3A;
  overflow-x: hidden;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
  line-height: 1.6;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a:visited:focus,
a:hover:focus,
a:active:focus {
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: .5rem;
}

form {
  max-width: 900px;
  margin: 0 auto;
}

.field {
  margin-bottom: .75rem;
}

.label {
  margin-top: .75rem;
}

.block:not(:last-child),
.box:not(:last-child),
.breadcrumb:not(:last-child),
.content:not(:last-child),
.highlight:not(:last-child),
.level:not(:last-child),
.list:not(:last-child),
.message:not(:last-child),
.notification:not(:last-child),
.progress:not(:last-child),
.subtitle:not(:last-child),
.table-container:not(:last-child),
.table:not(:last-child),
.tabs:not(:last-child),
.title:not(:last-child) {
  margin-bottom: 0;
}

.navBarProfilePicture {
  border-radius: 50%;
}

.singleEventBodyGridParent {
  display: -ms-grid;
  display: grid;
  width: 100%;
      grid-template-areas: "SplashImg SplashImg SplashImg SplashImg" "ActionsBar ActionsBar ActionsBar ActionsBar" "ProfileImgAndEventInfo EventDesc EventDesc Atendees";
  grid-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
}

.singleEventBodyGridParent > * {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.singleEventBodyGridSplashImg {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: SplashImg;
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 100%;
}

.singleEventBodyGrid .has-text-centered {
  color: red !important;
}

.singleEventBodyGridProfileImgAndEventInfo {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: ProfileImgAndEventInfo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.singleEventBodyGridProfileImgAndEventInfo img {
  padding-top: 10px;
  border-radius: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.singleEventBodyGridProfileImgAndEventInfo ul li {
  padding-left: 12px;
}

.singleEventBodyGridActionsBar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: ActionsBar;
}

.singleEventBodyGridEventDesc {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: EventDesc;
  border-left: 2px solid rgba(51, 51, 51, 0.5);
}

.singleEventBodyGridEventDesc h1 {
  padding-bottom: 0;
}

.singleEventBodyGridEventDesc h2 {
  padding-top: 0;
}

.singleEventBodyGridAtendees {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: Atendees;
  border-left: 2px solid rgba(51, 51, 51, 0.5);
}

.eventPageActionBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid rgba(51, 51, 51, 0.5);
}

.eventPageActionBar li {
  padding: 1rem 1rem;
}

.eventPageActionBar a:hover {
  background-color: rgba(51, 51, 51, 0.096);
}

.antendeesListItem {
  display: -ms-grid;
  display: grid;
  width: 100%;
      grid-template-areas: "profileImg profileUserName" "profileImg profileUserRole";
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
}

.antendeesListItem img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: profileImg;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.antendeesListItem h4 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: profileUserName;
  padding-bottom: 0px;
}

.antendeesListItem h5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: profileUserRole;
  padding-top: 0px;
}

.userProfileParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.userProfileImg {
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 100%;
}

.userProfileActionBar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.userProfileActionBar li {
  padding: 5px 10px;
}

.userProfileUserImg {
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-start;
  max-width: 200px;
  margin-top: -150px;
  border-radius: 50%;
  border: 2px solid white;
}

.userProfileContentBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.userProfileContentBodyShortBio {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.userProfileContentBodyLongBio {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  border-left: 2px solid rgba(51, 51, 51, 0.5);
}

#HeroBody {
  position: relative;
  background-size: cover;
  background-position: center;
}

#HeroBody div > * {
  color: white;
}

#HeroBody h2 {
  padding-top: 20px;
}

.bannerTint {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(88, 86, 86, 0.37);
}

.homePageCategorySectionEventsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  padding-bottom: 10px;
}

.homePageCategorySectionEventsList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 300px;
  max-width: 400px;
  padding: 10px;
  margin: 0 10px;
}

.homePageCategorySectionEventsList li img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.flexTwoFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexTwoFields .field:nth-child(1) {
  padding-right: 6px;
}

.flexTwoFields .field:nth-child(2) {
  padding-left: 6px;
}

.flexTwoFields > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.select {
  margin-bottom: 10px;
}

.radio input {
  margin-right: .25rem;
}

.createEventSelect {
  margin-bottom: 1.25rem;
}

#HeroBodyandingPage .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
}

#HeroBodyandingPage .container .landingPageTextCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#HeroBodyandingPage .container .landingPageTextCont h2 {
  padding-top: 0px;
}

#HeroBodyandingPage .container .landingPageBtnCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 0 10px;
}

#HeroBodyandingPage .container .landingPageBtnCont a:nth-child(1) {
  margin-right: 10px;
}

#HeroBodyandingPage .container p {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#HeroBodyandingPage .container img {
  max-width: 50%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.myFriendsGrid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "img textCont";
  grid-gap: .5rem;
}

.myFriendsGrid img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 50%;
}

.myFriendsGridTextCont {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: textCont;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.myFriendsGridTextCont h4 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.myFriendsGridTextCont a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 8px;
  margin-top: -12px;
}

.myFriendsGridParent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.dataSet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dataSetGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

.eventsSearchWithButton {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.eventsSearchWithButton:first-child {
  -webkit-box-flex: 90 !important;
      -ms-flex: 90 !important;
          flex: 90 !important;
}

.eventsSearchWithButton:nth-child(2) {
  -webkit-box-flex: 10 !important;
      -ms-flex: 10 !important;
          flex: 10 !important;
}

.eventsSearchWithButton button {
  margin-left: 15px;
}

.panel-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.viewAllEventsContainer h2:not(:nth-child(1)) {
  padding-top: 250px;
}

.allEventsCategoryHeader {
  margin-top: 3rem;
}

.ViewAllEventsGridParent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.ViewAllEventsGridParent li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ViewAllEventsGridParent li a {
  width: 100%;
  margin-top: auto;
}

.panel-block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.panel-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

#showFiltersToggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.arrowIsFlipped {
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-animation: rotateArrow .5s;
          animation: rotateArrow .5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes rotateArrow {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

@keyframes rotateArrow {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

.filtersList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 2rem;
}

.filtersList ul {
  margin-top: -12px;
}

.filtersList > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.filters-panel-parents {
  border-top: 0px solid transparent;
}

.EventsPageCreateEventBtn {
  float: right;
}

.link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-box .fa-arrow-circle-right {
  font-size: 6rem !important;
  margin-bottom: 10px;
}

.link-box .view-more-text:hover .view-more-arrow {
  padding-left: 5px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.filters-panel-parents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about-us-hero {
  background-image: url("../images/AboutUs/concert.jpg");
  background-position: top;
  z-index: 10;
}

.about-us-hero h1 {
  padding-bottom: 2rem;
}

.about-us-hero-footer {
  background-image: url("../images/AboutUs/hike.jpg");
  background-position: center;
}

.about-us-hero-footer h1 {
  padding-bottom: 2rem;
}

.about-us-section-header {
  margin-bottom: 2rem;
}

.about-us-columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1.5rem;
}

.about-us-columns img {
  margin: 0 auto;
  min-height: 220px;
  max-width: 90%;
}

.helperMargin {
  margin-top: 3rem;
}

.bannerTintDarker {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  border-radius: 10px;
  background-color: #fff;
  color: #333;
  padding: .75rem;
}

.modal-button-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.modal-button-cont button:nth-child(1) {
  margin-right: .25rem;
}

.modal-button-cont button:nth-child(2) {
  margin-left: .25rem;
}

.all-messages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(1fr, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  grid-gap: 1.25rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.all-messages li {
  border-bottom-left-radius: 15px;
  padding-bottom: .5rem;
  padding-left: .5rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.all-messages li:hover {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.all-messages li a {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.all-messages li img {
  border-radius: 50%;
}

.all-messages li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-messages li > * {
  padding: 0px;
}

.all-messages li > * > * {
  padding: 0px;
}

.createAccountUserUpload {
  margin-bottom: 3rem;
}

#SendMessageInput {
  width: 100% !important;
}

.SendMessageForm {
  margin-top: 1.5rem;
}

.friendsMessages {
  max-width: 80%;
  margin-right: auto;
}

.myMessages {
  max-width: 80%;
  margin-left: auto;
}

/* ==========================================
=============== MEDIA QUERIES ===============
========================================== */
@media only screen and (max-width: 769px) {
  .singleEventBodyGridParent {
    width: 100%;
        grid-template-areas: "SplashImg" "ProfileImgAndEventInfo" "ActionsBar" "EventDesc" "Atendees";
    grid-gap: 10px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: min-content;
        grid-template-rows: -webkit-min-content;
        grid-template-rows: min-content;
  }
  .singleEventBodyGridActionsBar {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: ActionsBar;
  }
  .singleEventBodyGridEventDesc {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: EventDesc;
    border-left: none;
  }
  .singleEventBodyGridAtendees {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: Atendees;
    width: 100%;
    border-left: 2px solid rgba(51, 51, 51, 0.5);
  }
  .singleEventBodyGridAtendees ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    padding-left: 10px;
  }
  .antendeesListItem {
    display: -ms-grid;
    display: grid;
    width: 100%;
        grid-template-areas: "profileImg profileUserName" "profileImg profileUserRole";
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    -ms-grid-rows: min-content;
        grid-template-rows: -webkit-min-content;
        grid-template-rows: min-content;
  }
}
/*# sourceMappingURL=style.css.map */