// **************************************************************
//
// Table of Contents
//
// 1 - Global resets
// 
// 2 - Navbar
//
// 3 - Single Event Page
//
// **************************************************************

// **********************************
//
//  1 - Global Reset
//
// ********************************** 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    // font-size: 62.5%;
    font-family: 'Karla', sans-serif;
    background-color: #f5f5f5;
    color: #3A3A3A;
    overflow-x: hidden;
    overflow: hidden;
    transition: all .5s;
    line-height: 1.6;;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    cursor: pointer;

    &:focus {
        outline: none !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: .5rem;
}

form {
    max-width: 900px;
    margin: 0 auto;
}


// **********************************
//
//  2 - Navbar
//
// ********************************** 


// **********************************
//
//  3 - Single Event Page
//
// ********************************** 

.singleEventBodyGrid {
    &Parent {
        display: grid;
        width: 100%;
        grid-template-areas: "SplashImg SplashImg SplashImg SplashImg"
                            "ActionsBar ActionsBar ActionsBar ActionsBar"
                            "ProfileImgAndEventInfo EventDesc EventDesc Atendees";
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: min-content;
    }

    &Parent > * {
        outline: 2px solid #333;
        align-self: stretch;
    }

    &SplashImg {
        grid-area: SplashImg;
        // background-image: url("http://placekitten.com/200/200");
        background-position: center;
        background-size: cover;
        height: 250px;
        width: 100%;
    }

    &ProfileImgAndEventInfo {
        grid-area: ProfileImgAndEventInfo;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        & img {
            padding-top: 10px;
        }
    }

    // &EventInfo {
    //     grid-area: EventInfo;
    // }

    &ActionsBar {
        grid-area: ActionsBar;
    }

    &EventDesc {
        grid-area: EventDesc;

        & h1 {
            padding-bottom: 0;
        }

        & h2 {
            padding-top: 0;
        }
    }

    &Atendees {
        grid-area: Atendees;
    }
}

.eventPageActionBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & li {
        padding: 1rem 1rem;
    }

    & a:hover {
        background-color: rgba(51, 51, 51, 0.096);
    }

    & li:not(:last-child) {
        border-right: 1px solid rgba(51, 51, 51, 0.596);
    }
}

.antendeesListItem {
    display: grid;
    width: 100%;
        grid-template-areas: "profileImg profileUserName"
            "profileImg profileUserRole";
        grid-template-columns: 1fr 3fr;
        grid-template-rows: min-content;

        & img {
            grid-area: profileImg;
            border-radius: 50%;
            align-self: center;
            justify-self: center;
        }

        & h4 {
            grid-area: profileUserName;
            padding-bottom: 0px;
        }

        & h5 {
            grid-area: profileUserRole;
            padding-top: 0px;
        }
}










.block:not(:last-child),
.box:not(:last-child),
.breadcrumb:not(:last-child),
.content:not(:last-child),
.highlight:not(:last-child),
.level:not(:last-child),
.list:not(:last-child),
.message:not(:last-child),
.notification:not(:last-child),
.progress:not(:last-child),
.subtitle:not(:last-child),
.table-container:not(:last-child),
.table:not(:last-child),
.tabs:not(:last-child),
.title:not(:last-child) {
    margin-bottom: 0;
}

/* ==============
    Animations
============== */

@-webkit-keyframes BGGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes BGGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes BGGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes cheers {
    0% {}

    15% {
        transform: scale(1.25);
    }

    30% {
        transform: rotate(15deg) scale(1.25);
    }

    45% {
        transform: rotate(0deg) scale(1.25);
    }

    60% {
        transform: rotate(-15deg) scale(1.25);
    }

    80% {
        transform: rotate(0deg) scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}


/* ==========================================
=============== MEDIA QUERIES ===============
========================================== */

@media only screen and (max-width: 950px) {}

/* ============= MOBILE 800 ============= */

@media only screen and (max-width: 800px) {}

/* ============= MOBILE 568 ============= */

@media only screen and (max-width: 568px) {}

@media only screen and (max-width: 469px) {}