// **************************************************************
//
// Table of Contents
//
// 1 - Global resets and Changing Bulma Classes
// 
// 2 - Navbar
//
// 3 - Single Event Page
//
// 4 - User Profile Page
//
// 5 - Home page banner & Content
//
// 6 - Create New Event Form
//
// 7 - Landing Page
//
// 8 - My Friends Page
//
// 9 - My Account Page
//
//
//
//
//
// **************************************************************

// ********************************************
//
//  1 - Global Reset and Changing Bulma Classes
//
// ********************************************

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: #f5f5f5;
    color: #3A3A3A;
    overflow-x: hidden;
    overflow: hidden;
    transition: all .5s;
    line-height: 1.6;
    ;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    cursor: pointer;

    &:focus {
        outline: none !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: .5rem;
}

form {
    max-width: 900px;
    margin: 0 auto;
}

.field {
    margin-bottom: .75rem;
}

.label {
    margin-top: .75rem;
}

.block:not(:last-child),
.box:not(:last-child),
.breadcrumb:not(:last-child),
.content:not(:last-child),
.highlight:not(:last-child),
.level:not(:last-child),
.list:not(:last-child),
.message:not(:last-child),
.notification:not(:last-child),
.progress:not(:last-child),
.subtitle:not(:last-child),
.table-container:not(:last-child),
.table:not(:last-child),
.tabs:not(:last-child),
.title:not(:last-child) {
    margin-bottom: 0;
}


// **********************************
//
//  2 - Navbar
//
// ********************************** 


// **********************************
//
//  3 - Single Event Page
//
// ********************************** 

.singleEventBodyGrid {

    &Parent {
        display: grid;
        width: 100%;
        grid-template-areas: "SplashImg SplashImg SplashImg SplashImg"
            "ActionsBar ActionsBar ActionsBar ActionsBar"
            "ProfileImgAndEventInfo EventDesc EventDesc Atendees";
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: min-content;
    }

    &Parent>* {
        align-self: stretch;
    }

    &SplashImg {
        grid-area: SplashImg;
        background-position: center;
        background-size: cover;
        height: 250px;
        width: 100%;
    }

    &ProfileImgAndEventInfo {
        grid-area: ProfileImgAndEventInfo;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        & img {
            padding-top: 10px;
            border-radius: 50%;
            align-self: center;
        }
    }

    &ActionsBar {
        grid-area: ActionsBar;
    }

    &EventDesc {
        grid-area: EventDesc;
        border-left: 2px solid rgba(51, 51, 51, 0.5);

        & h1 {
            padding-bottom: 0;
        }

        & h2 {
            padding-top: 0;
        }
    }

    &Atendees {
        grid-area: Atendees;
        border-left: 2px solid rgba(51, 51, 51, 0.5);
    }
}

.eventPageActionBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid rgba(51, 51, 51, 0.5);

    & li {
        padding: 1rem 1rem;
    }

    & a:hover {
        background-color: rgba(51, 51, 51, 0.096);
    }
}

.antendeesListItem {
    display: grid;
    width: 100%;
    grid-template-areas: "profileImg profileUserName"
        "profileImg profileUserRole";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: min-content;

    & img {
        grid-area: profileImg;
        border-radius: 50%;
        align-self: center;
        justify-self: center;
    }

    & h4 {
        grid-area: profileUserName;
        padding-bottom: 0px;
    }

    & h5 {
        grid-area: profileUserRole;
        padding-top: 0px;
    }
}



// **********************************
//
//  4 - User Profile Page
//
// ********************************** 

.userProfile {

    &Parent {
        display: flex;
        flex-direction: column;
    }

    &Img {
        background-position: center;
        background-size: cover;
        height: 250px;
        width: 100%;
    }

    &ActionBar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        & li {
            padding: 5px 10px;
        }
    }

    &UserImg {
        align-self: flex-start;
        justify-self: flex-start;
        max-width: 200px;
        margin-top: -150px;
        border-radius: 50%;
        border: 2px solid white;
    }

    &ContentBody {
        display: flex;
        width: 100%;

        &ShortBio {
            flex: 1;
        }

        &LongBio {
            flex: 4;
            border-left: 2px solid rgba(51, 51, 51, 0.5);
        }
    }
}



// **********************************
//
//  5 - Home page banner & Content
//
// ********************************** 

#HeroBody {
    position: relative;
    background-size: cover;
    background-position: center;

    & div>* {
        color: white;
    }

    & h2 {
        padding-top: 20px;
    }
}

// Dark color overlay for the banner image to improve readability of text
.bannerTint {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(88, 86, 86, 0.37);
}

.homePage {

    &CategorySection {

        &EventsList {
            display: flex;
            overflow-x: scroll;
            padding-bottom: 10px;

            & li {
                display: flex;
                flex-direction: column;
                min-width: 300px;
                max-width: 400px;
                padding: 10px;
                margin: 0 10px;

                & img {
                    align-self: center;
                    justify-self: center;
                }
            }
        }
    }
}



// **********************************
//
//  6 - Create Event Form
//
// **********************************

.flexTwoFields {
    display: flex;
    justify-content: center;
    align-items: center;

    & .field:nth-child(1) {
        padding-right: 6px;
    }

    & .field:nth-child(2) {
        padding-left: 6px;
    }

    &>* {
        flex: 1;
        align-self: center;
        justify-self: center;
    }
}

.select {
    margin-bottom: 10px;
}



// **********************************
//
//  7 - Landing Page
//
// ********************************** 

#HeroBodyandingPage {

    & .container {
        display: flex;
        justify-content: space-evenly;
        align-items: space-evenly;

        & .landingPage {

            &TextCont {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                flex: 1;

                & h2 {
                    padding-top: 0px;
                }
            }

            &BtnCont {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                padding: 10px 0 0 10px;

                & a:nth-child(1) {
                    margin-right: 10px;
                }
            }
        }

        & p {
            justify-self: center;
            align-self: center;
        }

        & img {
            max-width: 50%;
            flex: 2;
        }
    }
}


// **********************************
//
//  8 - My Friends Page
//
// ********************************** 

.myFriendsGrid {
    display: grid;
    grid-template-areas: "img textCont";
    grid-gap: .5rem;

    & img {
        grid-area: img;
        align-self: center;
        justify-self: center;
        border-radius: 50%;
    }

    &TextCont {
        grid-area: textCont;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: space-between;

        & h4 {
            align-self: flex-start;
        }

        & a {
            align-self: flex-start;
            padding: 8px;
            margin-top: -12px;
        }
    }

    &Parent {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1rem;
    }

}



// **********************************
//
//  9 - My Account Page
//
// ********************************** 

.dataSet {
    display: flex;
    // justify-content: center;
    align-items: center;

    &Grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 1rem;

        margin-bottom: 2rem;
    }
}




/* ==========================================
=============== MEDIA QUERIES ===============
========================================== */

// Tablet
@media only screen and (max-width: 769px) {
    .singleEventBodyGrid {

        &Parent {
            width: 100%;
            grid-template-areas: "SplashImg"
                "ProfileImgAndEventInfo"
                "ActionsBar"
                "EventDesc"
                "Atendees";
            grid-gap: 10px;
            grid-template-columns: 1fr;
            grid-template-rows: min-content;
        }

        &ActionsBar {
            grid-area: ActionsBar;
        }

        &EventDesc {
            grid-area: EventDesc;
            border-left: none;
        }

        &Atendees {
            grid-area: Atendees;
            width: 100%;
            border-left: 2px solid rgba(51, 51, 51, 0.5);

            & ul {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                grid-gap: 1rem;
                padding-left: 10px;
            }

        }
    }

    .antendeesListItem {
        display: grid;
        width: 100%;
        grid-template-areas: "profileImg profileUserName"
            "profileImg profileUserRole";
        grid-template-columns: 1fr 3fr;
        grid-template-rows: min-content;
    }
}



@media only screen and (max-width: 800px) {}

@media only screen and (max-width: 568px) {}

@media only screen and (max-width: 469px) {}